<header>
  <%= render 'layouts/header' %>
</header>
<div class="image-container">
  <%= image_tag 'cocktail_home.jpg', class: 'cocktail-image' %>
  <div class="text-over-image">癒しのひとときを提供する <br>カクテル検索アプリ</div>
  <div class="button-container">
    <%= link_to 'リキュール検索', search_recipes_path, class: 'button' %>
    <%= link_to 'レシピを追加', new_recipe_path, class: 'button' %>
  </div>
</div>
<footer>
<%= render 'layouts/footer' %>
</footer>