<!DOCTYPE html>
<html>
<head>
      <title>ログイン</title>
  <%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>


<%= render 'layouts/header' %>





<div class="contents row">
  <div class="container">


    <h2>LOG IN</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>