<!DOCTYPE html>
<html>
<head>
      <title>ログイン</title>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>


<%= render 'layouts/header' %>




<div class="login-image-container">
      <%= image_tag 'login.jpg', class: 'login-image' %>
    <div class="search-content">
      <div class="page_title">  
        <h1>LOG IN</h1>
      </div>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email ,class:"email"%><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class:"button-container"%>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>